.center {
  font-family: "Raleway", sans-serif;
  background-color: #1abc9c;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  color: rgba(0, 0, 0, 0.568);
}

.logout__Button {
  font-family: "Raleway", sans-serif;
  height: 35px;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
}
.logout__Button:hover {
  opacity: 0.6;
}
